@import "./globales";

.blogs {
  &__banner {
    height: 300px;
    width: 100%;
    color: $color-claro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid $color-claro;
  }

  &__container {
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template: repeat(1, minmax(380px, 400px)) / repeat(
        1,
        minmax(280px, 400px)
      );
    gap: 20px;
    justify-content: center;
    grid-auto-rows: minmax(380px, 400px);
  }
}
