@import "./globales";

.caminoDev {
  &__banner {
    background-image: url("../../assets//static/camino-dev.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
  }

  &__author {
    height: 100px;
    margin: 20px auto;
    width: 90%;
  }
  &__author--card {
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: inherit;
    color: $color-claro;
  }
  &__author--card img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  &__post {
    background: rgba(0, 0, 0, 0.226);
    color: $color-claro;
    border: 2px solid $color-claro;
    box-shadow: 0 0 3px;
    margin: 20px auto;
    padding: 10px;
    width: 90%;
    border-radius: 20px;
  }
  &__post h1,
  &__post h3,
  &__post p {
    margin-bottom: 20px;
  }
}
