@import "./globales";
.section__container {
  border: 2px solid $color-claro;
  color: $color-claro;
  padding: 10px;
  background: rgba(0, 0, 0, 0.226);
  border-radius: 20px;
  box-shadow: 0 0 6px;
}
.section__container img {
  width: 100%;
  height: 55%;
  // max-height: 60%;
  background-size: contain;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 10px;
}
