@import "./globales";

.header {
  height: 50px;
  width: 100%;
  &__nav {
    position: fixed;
    background: linear-gradient(
    0deg,
    #180928e5,
    rgba(20, 5, 35, 0.952) 100%
  );
    left: 0;
    width: 100%;
    
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: inherit;
  }
  a {
    color: $color-claro;
    padding: 5px;
  }
  a:hover {
    border: 2px solid $color-hover;
    border-radius: 5px;
    color: $color-hover;
  }
}
