@import "./globales";

.section__bgImage {
  background: #a4a6a8;
  display: flex;
  justify-content: center;
  position: relative;
  height: 300px;
  width: 100%;
}
.section__bgImage--img {
  margin: 0 auto;
  position: absolute;
  height: 300px;
  width: 100%;
  max-width: 600px;
}
