@import "./globales";

.section__bgImage {
  background: #a4a6a8;
  height: 300px;
  width: 100%;
}
.section__bgImage__picture {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
}
.section__bgImage--img {
  margin: 0 auto;
  height: 300px;
  width: 100%;
  max-width: 600px;
}
