@import "./globales";

.section__background {
  background-image: url("../../assets//static/caminoDev1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
}
